/*-------------------------------------------------------------
    Mail CSS
---------------------------------------------------------------*/
.success {
  padding: 15px;
  margin-top: 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
}
